
.HomePage {
    margin: 0% 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(../Assets/dog.gif);
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 0px 5px 1px;
}

.MyName span{
    color: rgba(255, 255, 255, 1); 
    text-shadow: -2px 5px  #0074D9  , 1px 5px  #0074D9  , 1px 0  #0074D9  , 0 -1px  #0074D9  ;
    border: '1em solid #DDDDDD';
    font-size: 75px;
    font-weight: bolder;
    margin: 0% 0%;
}

.Job {
    color: rgba(255, 255, 255, 1); 
    text-shadow: -2px 5px  #0074D9  , 0 1px  #0074D9  , 1px 0  #0074D9  , 0 -1px  #0074D9  ;
    font-size: 2.8125em;
    font-weight: bold;
}

.HomePage a {
    transition: 100ms;
}
.HomePage a:hover {
    transform: scale(1.2);
}

.Boxes {
    width: 80%;
    margin-bottom: .1em;
}