* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color:   #0074d9ca;
    font-family: 'Titillium Web', sans-serif;
}

.Navbar {
    display: flex;
    flex-direction: row;
    height: 10%;
}

.Navbar h1, ul, li{
    font-weight: lighter;
}

.Navbar > h1 {
    background-color: rgb(99, 84, 199);
    color:       #7FDBFF;
    font-weight: 500;
    display: flex;
    align-items: flex-start;
    padding-top: .5%;
    padding-left: 2%;
    width:15%;
}

.Navbar > p {
    padding: 0;
    margin: 0;
    width:60%;
    background-color: rgb(99, 84, 199);
    align-items: center;
    text-align: center;
    font-size: 2.2rem;
    padding-left: 11%;
    padding-top: .2%;


}

.Navbar-Menu {
    background-color: rgb(99, 84, 199);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 25%;
    display: flex;
    justify-content: flex-end;
    padding-right: 2%;

}

.Navbar-Menu > li {
    font-weight: 400;
    padding: 10px 20px;
    list-style-type: none;
    font-size: 20px;
    cursor: pointer;
}

.Nav_link {
    color: #7FDBFF;
}


.Nav_link:link {
    font-size: 1.6rem;
    line-height: 1.6rem;
    text-decoration: none;
}

.Navbar a:hover {
    color: orange;
}

@media only screen and (max-width: 1000px) {
    .Navbar {
        flex-direction: column;
        align-items: center;
    }

    .Navbar > h1 {
        width: 350px;
    } 

    .Navbar > p {
        width: 170px;
        padding-left: 0px;
    }

    .Navbar-Menu {
        width: 400px;
    }
}
